<div class="container">
<h1> Blog App </h1>
  <p><%= flash[:notice] %></p>

  <% if @posts.any? %>
    <h3>Posts:</h3>

<ul class="hidden-ul">
  <% @posts.each do |post| %>
    <h4><li> <%= link_to post.title, post_path(post.id) %> </li></h4>
    <% end %>
  </ul>

  <% else %>
  <h4> No posts to display </h4>
  <% end %>

<%= link_to "Add a Post", new_post_path, class: "btn btn-med btn-warning" %>
</div>
