<div class="container">
  <% if @posts.any? %>
    <h3>Blog Posts:</h3>

<ul class="hidden-ul">
  <% @posts.each do |post| %>
    <h4><li> <%= link_to post.title, post_path(post.id) %> | <%= post.date %> </li></h4>
    <% end %>
  </ul>

  <% else %>
  <h4> Click the button below to begin </h4>
  <% end %>

<%= link_to "Add a Post", new_post_path, class: "btn btn-med btn-warning" %>
</div>
