<h1> Blog App </h1>

<ul class="hidden-ul">
  <% @posts.each do |post| %>
    <h4><li><%= post.title %> </li></h4>
    <li><%= post.content %> </li>
    <li><%= post.title %> </li>
  <% end %>
</ul>

<%= link_to "Add a Post", new_post_path, class: "btn btn-sm btn-warning" %>
